.sub-menu
  #selection-tools.col-md-offset-3.col-sm-offset-3
    %button#btn-sync.btn-standard.btn-reload
      %i.fa.fa-refresh{"aria-hidden" => "true"}

.main-content
  .left-main-content.col-md-3
    .function-use
      %button#btn-compose-message.btn-standard.btn-compose{"data-target" => "#send-message-modal", "data-toggle" => "modal"} Compose
  
  .center-main-content.col-md-9
    .tab-content-c
      %ul#tab-selection.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#r-messages"}
            %i.fa.fa-envelope-open{"aria-hidden" => "true"}
            %span.hidden-res Received Messages
        %li
          %a{"data-toggle" => "tab", :href => "#s-messages"}
            %i.fa.fa-envelope{"aria-hidden" => "true"}
            %span.hidden-res Sent Messages
        %li
          %a{"data-toggle" => "tab", :href => "#users"}
            %i.fa.fa-users{"aria-hidden" => "true"}
            %span.hidden-res Users
      #tab-selection-content.tab-content
        #r-messages.tab-pane.fade.in.active
          %ul#list-r-messages.list-messages
            - @received_messages.each do |message|
              %li.message.message-receive{class: unread_class(message), data: {read: message.read.to_s, message: {id: message.id}}}
                .date
                  %span 
                    = message.sent_at.day
                  %span.small
                    = three_chars_month(message.sent_at)
                %p.message-title
                  From #{message.sender.name}
                  %span.status{:id => "r-status-#{message.id}"}
                    - if message.read?
                      %i.fa.fa-envelope-open-o{"aria-hidden" => "true"}
                    - else 
                      %i.fa.fa-envelope-o{"aria-hidden" => "true"}
                  %time
                    = time_ago(message.sent_at)
                  %i.fa.fa-globe{"aria-hidden" => "true"}
                %p.message-content
                  = short_content(message)

        #s-messages.tab-pane.fade
          %ul.list-messages
            - @sent_messages.each do |message|
              %li.message.message-send{class: unread_class(message)}
                .date
                  %span
                    = message.sent_at.day
                  %span.small
                    = three_chars_month(message.sent_at)
                %p.message-title
                  To #{message.receiver.name}
                  %span.status
                    - if message.read?
                      %i.fa.fa-envelope-open-o{"aria-hidden" => "true"}
                    - else 
                      %i.fa.fa-envelope-o{"aria-hidden" => "true"}
                  %time
                    = time_ago(message.sent_at)
                  - if message.read?
                    &bull; Seen
                    %time
                      = time_ago(message.read_at)
                    %i.fa.fa-globe{"aria-hidden" => "true"}
                %p.message-content
                  = short_content(message)
        #users.tab-pane.fade
          %ul.list-users
            - @all_user.each do |user|
              %li.user
                .avatar-user
                  = user.decorate.user_thumb_avatar
                %p.user-content
                  = link_to user.name, '#'
                - is_friend = user.friend?(current_user)
                - p "user: #{current_user.name} - friend: #{user.name}: #{is_friend}"
                - if is_friend
                  %button.btn-friend.btn-friend-remove{data: { id: user.id, sign: is_friend.to_s, user: current_user.id }}
                    %p Remove
                - else 
                  %button.btn-friend.btn-friend-add{data: { id: user.id, sign: is_friend.to_s, user: current_user.id }}
                    %p Add

= render 'modals'
= javascript_include_tag 'ajax', data: {'turbolinks-track' => true}