.login-page
  .form
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      = f.email_field :email, placeholder: 'email', autofocus: true
      = f.button "Reset password"
    = render "users/shared/links"
