!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title Sign-Up/Login Form
    = stylesheet_link_tag 'login', media: 'all', data: {'turbolinks-track' => true}
    = javascript_include_tag 'application', data: {'turbolinks-track' => true}
    = csrf_meta_tags
  %body
    = yield
    = javascript_include_tag 'login', data: {'turbolinks-track' => true}